body {
    margin: 0;
    height: 100vh;
    background-color: #16a085;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
    'nav'
    'main'
    'footer';
}

nav {
    grid-area: nav;
    background-color: #16a085;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    /* padding-top: 1em; */
}

nav p {
    margin: 0;
}

nav .logo {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

nav .logo p {
    font-size: 24px;
}

nav ul {
    display: none;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: aliceblue;
}


main {
    /* text-align: center; */
    grid-area: main;
    padding: 3em;
    /* margin: auto; */
}

.hero {
    /* position: relative; */
    background-image: url(assets/img/1.jpg);
    background-position: center;
    background-size: 100%;
    color: aliceblue;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.texto-principal {
    background-color: rgba(241, 196, 15, 0.2);
    border-radius: 12px;
    padding: 1em;

}
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    text-align: center;
}

.mapa {
    display: flex;
    justify-content: center;
    width: 80% auto;
}

footer {
    grid-area: footer;
    background-color: #16a085;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
}

footer p {
    margin: 0;
    font-weight: 600;
}

footer i:hover {
    color: #f1c40f;
}

a:hover {
    color: #f1c40f;
}


@media (max-width: 992px) {
    .grid-container {
        height: 100vh;
    }
}

@media (min-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-areas: 
        'nav nav'
        'main main'
        'footer footer';
    }
    .hero {
        /* position: relative; */
        background-image: url(assets/img/prod.jpg);
        background-position: center;
        background-size: 100%;
        color: aliceblue;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    nav .burger-menu {
        display: none;
    }

    nav {
        padding-right: 4em;
        box-sizing: border-box;
    }
    nav ul {
        display: flex;
        gap: 4em;
        padding: 0.5em;
        align-items: center;
        margin: 0;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 0.5fr 6fr 1fr;
        grid-template-areas: 
        'nav main'
        'nav main'
        'footer main';
    }
    .galeria {
        grid-area: main;
        padding: 0em;
        /* margin: auto; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0;
        /* box-sizing: border-box; */
    }
    nav {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        /* margin: 0; */
        padding: 0.5em;
        align-items: center;
        justify-content: center;
    }
    nav .burger-menu {
        display: none;
    }
    nav p {
        padding: 0.5em
    }
}



